@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;800&family=Poppins:wght@400;500;700&family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;

}

p {
    color: var(--Grayish-Violet);
}

@media (min-width: 851px) {

    :root {
        /* colors */

        /* HSL color mode */

        /*-- Primary --*/
        --Cyan: hsl(180, 66%, 49%);
        --Dark-Violet: hsl(257, 27%, 26%);

        /*-- Secondary --*/
        -Red: hsl(0, 87%, 67%);

        /*-- Neutral --*/
        --Cyan-btn: hsl(182, 54%, 75%);
        --Gray: hsl(0, 0%, 75%);
        --Grayish-Violet: hsl(257, 7%, 63%);
        --Very-Dark-Blue: hsl(255, 11%, 22%);
        --Very-Dark-Violet: hsl(260, 8%, 14%);
    }

    /* Cabeçalho */
    #burguer {
        display: none;
    }

    .body-margin {
        max-width: 1440px;
        margin: auto;
    }

    .container-header {
        display: flex;
        align-items: center;

        margin: 30px 50px;
    }

    .container-header img {
        margin-right: 20px;

    }

    #menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
    }

    #menu ul {
        padding: 0;
        margin: 20px;

        list-style: none;

        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    #menu li a {
        font: 700 1rem 'poppins', sans-serif;
        color: var(--Grayish-Violet);
    }

    #btn:hover {
        background: var(--Cyan-btn);
    }

    #hover1:hover {
        color: var(--Dark-Violet);
    }

    .btn-nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .botao-menu1 {
        cursor: pointer;
        border-radius: 30px;
        background: none;
        padding: 10px;
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: var(--Grayish-Violet);
        border: none;
        height: 2rem;
        width: 4rem;

        display: flex;
        align-items: center;
    }

    .botao-menu2 {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3rem;
        width: 7rem;
        margin: 3px;
    }

    .conteudo-principal {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 80px 0;
    }

    .conteudo-principal div {
        text-align: left;
        margin: 50px;
    }

    .h2-principal {
        font-size: 3rem;
        color: var(--Very-Dark-Blue);
    }

    .img-trabalho {
        width: 100%;
    }

    .btn-principal {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3rem;
        width: 10rem;
        margin-top: 2rem;
    }



    /* Section form */

    .form {
        background-image: url("url-shortening-api-master/images/bg-shorten-desktop.svg");
        background-color: #3a3053;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 0;

        margin: 50px 50px 0;
        border-radius: 8px;

        text-align: center;
    }

    .search-txt {
        font: 500 1rem 'Poppins', sans-serif;
        width: 70%;
        padding: 15px;
        margin: 10px;
        border-radius: 0.3rem;
        border-style: none;
    }

    .btn-input {
        padding: 12px 30px;
        font: 600 1rem 'Poppins', sans-serif;
        background-color: var(--Cyan);
        color: #fff;
        border: none;
        border-radius: 4px;
        transition: 0.4s;
    }

    .img-form {
        display: none;
    }

    .img-form-desktop img {
        background-color: #1c1224;
        text-align: center;
        border-radius: 20px;

        width: 100%;
    }

    .container-pesquisa {
        margin: 70px;
        padding: 20px;
    }

    .container-pesquisa h1 {
        font-size: 3rem;
        color: var(--Very-Dark-Blue);
    }

    .container-pesquisa p {
        font-size: 2rem;

        width: 50%;
    }


    /* Corpo da pagina */

    .card2 {
        margin-top: 90px;
    }

    .card3 {
        margin-top: 180px;
    }


    .card1,
    .card2,
    .card3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;


        padding: 5rem 1rem 3rem 1rem;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
        border-radius: 0.25rem 0.25rem 0 0;
        text-align: left;
        background-color: #fff;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -40px;
        left: 20px;

        background: #1c0330;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .hr-secundario {
        width: 100%;
        height: 10px;
        border: none;
        background-color: var(--Cyan);

        position: absolute;
    }

    .hr-menu {
        display: none;
    }

    .conteudo-secundario {
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0 20px;

        position: relative;
    }

    .container-pesquisa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-pesquisa p {
        display: flex;
        text-align: center;

        font-size: 15px;
        font: 500 'Poppins', sans-serif;
    }

    .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url("url-shortening-api-master/images/bg-boost-desktop.svg");
        background-color: #3a3053;
        background-size: cover;
        width: 100%;
        height: 330px;
        background-repeat: no-repeat;
        margin-top: 50px;
    }

    .boost-h2 {
        position: absolute;
        text-align: center;
        color: #fff;
        font-size: 1.3rem;
    }

    .btn-boost {
        cursor: pointer;
        overflow: hidden;
        border-radius: 30px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3rem;
        width: 10rem;
        margin-top: 2rem;
        transition: 0.4s;
    }

    .btn-boost:hover {
        background: var(--Gray);
    }

    .boost-desktop {
        background-image: url("url-shortening-api-master/images/bg-boost-desktop.svg");
        background-color: #3a3053;
        background-size: cover;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        margin-top: 50px;
    }

    .boost-mobile img {
        display: none;
    }



    /* Final da pagina */

    .main-footer {
        background-color: #232027;
        padding: 50px 0;
        height: 300px;
        color: #fff;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;
    }

    .img-footer {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }

    .features h3 {
        margin: 0 0 20px;
    }

    .Resources h3 {
        margin: 0 0 20px;
    }

    .Company h3 {
        margin: 0 0 20px;
    }

    .features li {
        margin: 0 0 7px;
        list-style-type: none;
        cursor: pointer;
    }

    .Resources li {
        margin: 0 0 7px;
        list-style-type: none;
        cursor: pointer;
    }

    .Company li {
        margin: 0 0 7px;
        list-style-type: none;
        cursor: pointer;
    }

    li:hover {
        color: var(--Cyan);
    }

    .icon-footer img {
        margin: 0 8px;
    }
    .icon-h {
        transition: .3s ease;
        cursor: pointer;
    }

}