@media (max-width: 850px) {
    :root {
        /* colors */

        /* HSL color mode */

        /*-- Primary --*/
        --Cyan: hsl(180, 66%, 49%);
        --Dark-Violet: hsl(257, 27%, 26%);

        /*-- Secondary --*/
        -Red: hsl(0, 87%, 67%);

        /*-- Neutral --*/
        --Gray: hsl(0, 0%, 75%);
        --Grayish-Violet: hsl(257, 7%, 63%);
        --Very-Dark-Blue: hsl(255, 11%, 22%);
        --Very-Dark-Violet: hsl(260, 8%, 14%);
    }

    /* Cabeçalho */

    .container-icons {
        display: flex;
        justify-content: space-around;

        margin: 20px;
    }

    #burguer {
        color: #acaaaa;

    }

    #menu {
        border-radius: 10px;
        max-width: 100%;
        margin: 0 30px;
        height: 400px;
        padding: 20px;

        background-color: #3a3053;
    }

    #menu li {
        list-style-type: none;

        text-align: center;
        margin: 30px;
    }

    #menu a {
        color: #fff;
        font: 600 1rem 'poppins', sans-serif;
    }

    .hr-menu {
        width: 100%;
        height: 1px;
        border: none;
        background-color: #acaaaa;

    }

    .btn-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 20px;
    }


    .botao-menu1 {
        cursor: pointer;
        border-radius: 30px;
        background: none;
        padding: 10px;
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: #fff;
        border: none;
        height: 2rem;
        width: 4rem;
    }

    .botao-menu2 {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3rem;
        width: 100%;
        margin: 3px;
    }

    /* Corpo da pagina */

    .conteudo-principal {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;

        width: auto;
        margin-bottom: 30px;
        
        margin-top: 30px;
    }

    .h2-principal {
        color: var(--Very-Dark-Blue);
        font: 700 2.5rem 'Poppins', sans-serif;
        text-align: center;
        margin-top: 20px;
    }

    .btn-principal {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3.5rem;
        width: 10rem;
        margin: 5px;
    }

    .img-trabalho {
        margin: auto;
        width: 90%;
    }

    .form {
        background-image: url("/url-shortening-api-master/images/bg-shorten-mobile.svg");
        background-color: #3a3053;
        background-size: cover;
        background-repeat: no-repeat;
        
        margin: 50px 50px 0px;
        border-radius: 8px;

        text-align: center;
    }

    input {
        border-radius: 10px;
        background-color: #fff;
        font: 500 1rem 'Poppins', sans-serif;
        font-size: 18px;
        text-align: center;

        border: none;
        height: 3.5rem;
        width: 85%;
        margin: 7px;
        margin-top: 20px;
    }
    
    .btn-input {
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3.5rem;
        width: 85%;
        margin: 20px;
    }

    .container-pesquisa {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
        margin-bottom: 80px;
    }

    .container-pesquisa h1 {
        color: var(--Very-Dark-Blue);
        font: 700 2rem 'Poppins', sans-serif;

        text-align: center;
        
        margin-top: 20px;
        width: 100%;
    }


    p {
        color: var(--Grayish-Violet);
        font-size: 18px;
        font: 500 1rem 'Poppins', sans-serif;
        text-align: center;
    }

    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin-bottom: 30px;

        position: relative;

    }

    .hr-secundario {
        width: 10px;
        height: 100%;
        border: none;
        background-color: var(--Cyan);

        align-self: center;

        position: absolute;
    }

    .card1,
    .card2,
    .card3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        padding: 4rem 1rem 4rem 1rem;
        margin: 0 50px 0;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.08);
        border-radius: 0.25rem 0.25rem 0 0;
        text-align: center;
        background-color: #fff;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -40px;
        right: calc(50% - 45px);

        background: #1c0330;
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    /* Final da pagina */

    .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: url("/url-shortening-api-master/images/bg-boost-mobile.svg");
        background-color: #3a3053;
        background-size: cover;
        background-repeat: no-repeat;

        width: 100%;
        height: 330px;
        margin-top: 40px;
    }

    .boost-h2 {
        position: absolute;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 1.3rem;
    }

    .btn-boost {
        cursor: pointer;
        border-radius: 30px;
        background-color: var(--Cyan);
        font: 700 1rem 'Poppins', sans-serif;
        font-size: 18px;
        color: aliceblue;
        border: none;
        height: 3.5rem;
        width: 10rem;
        margin: 5px;
    }

    /* Final da pagina */

    .main-footer {
        background-color: #232027;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .img-footer img {
        margin: 20px;
        color: #fff;
    }

    .main-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .main-footer h3 {
        color: #fff;
    }

    .main-footer li {
        color: var(--Gray);
        font: 500 1rem 'Poppins', sans-serif;
    }

    .main-footer li {
        list-style: none;
        margin: 20px;
    }

    .icon-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    
    li:hover {
        color: var(--Cyan);
    }

    .icon-footer img {
        margin: 0 8px;
    }
    .icon-h {
        transition: .3s ease;
        cursor: pointer;
    }
}